<a href="https://colab.research.google.com/github/HassanMehmood1/Python_Colab/blob/main/WebScraping_StockTickers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Description: This Program scrapes stock tickers and their company name from a website

In [ ]:
# Import the dependencies
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
# Create two empty lists for the company name and the company ticker/symbol
company_name = []
company_ticker = []

In [ ]:
URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A'
page = requests.get(URL)
soup = BeautifulSoup(page.text, 'html.parser')
odd_rows = soup.find_all('tr', attrs = {'class':'ts0'})
even_rows = soup.find_all('tr', attrs = {'class':'ts1'})

In [ ]:
for i in odd_rows:
  row = i.find_all('td')
  company_name.append(row[0].text.strip()) # Company Name
  company_ticker.append(row[1].text.strip()) # Ticker

  for i in even_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) # Company Name
    company_ticker.append(row[1].text.strip()) # Ticker

In [ ]:
def scrape_stock_symbols(Letter):
  Letter = Letter.upper()
  URL = 'https://www.advfn.com/nyse/newyorkstockexchange.asp?companies='+Letter
  page = requests.get(URL)
  soup = BeautifulSoup(page.text, 'html.parser')
  odd_rows = soup.find_all('tr', attrs = {'class':'ts0'})
  even_rows = soup.find_all('tr', attrs = {'class':'ts1'})
  for i in odd_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) # Company Name
    company_ticker.append(row[1].text.strip()) # Ticker

  for i in even_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip()) # Company Name
    company_ticker.append(row[1].text.strip()) # Ticker
    
  return (company_name, company_ticker)

In [ ]:
(temp_name, temp_ticker) = scrape_stock_symbols('b')
temp_name

In [ ]:
# Get a list of every letter in the alphabet
import string 
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
# Loop through every letter in the alphabet to get all of the tickers and company names from the website
for char in string.ascii_uppercase:
  (temp_name, temp_ticker) = scrape_stock_symbols(char)

In [ ]:
len(temp_name)

2460

In [ ]:
len(temp_ticker)

2460

In [ ]:
# Create a dataframe that contains the company name and company ticker
data = pd.DataFrame(columns=['company_name', 'company_ticker'])
data['company_name'] = temp_name
data['company_ticker'] = temp_ticker
# Show Data
data

In [ ]:
# Clean the Data
data = data[data['company_name'] != '']
# Show Data
data

          company_name company_ticker
0            A K Steel            AKS
1       A M R Cp 7.875            AAR
2                A a R            AIR
3          Aaron Rents          RNT.A
4          Aarons Cl A          AAN.A
...                ...            ...
2453  Yamana Gold Inc.            AUY
2455              Zale            ZLC
2456            Zenith            ZNT
2458            Zapata            ZAP
2459               Zep            ZEP

[2168 rows x 2 columns]